<main class="main-goals">
  <app-main-container>
    <h2 class="main-h2" appHighlight>Nuestros</h2>
    <h2 class="main-h2">Objetivos</h2>
    <div class="goal">
      <span class="number">1</span>
      <p class="goal-title">
        <span appHighlight
          >Aumentar la cantidad de pacientes en tu consulta.</span
        >
        Llegamos a personas que te necesitan, pero que aún no te conocen.
      </p>
    </div>

    <div class="goal">
      <span class="number">2</span>
      <p class="goal-title">
        <span appHighlight>Mejorar tu visibilidad y popularidad, </span>destacando tus
        habilidades médicas y potenciando tu reconocimiento profesional.
      </p>
    </div>

    <div class="goal">
      <span class="number">3</span>
      <p class="goal-title">
        <span appHighlight
          >Maximizamos tu tiempo para que puedas dedicarlo por completo a tus
          pacientes.
        </span>
        Concretamos y organizamos tus agendas semanalmente, permitiéndote
        concentrarte plenamente en la atención médica.
      </p>
    </div>

  </app-main-container>
</main>
