<main class="main-hero img-bg">
  <app-main-container>
    <h1 class="main-h1 hero-text">¿Quieres más pacientes?</h1>
    <h2 class="main-h2 hero-text">
      En Prisma, nos especializamos en la creación y gestión de anuncios
      publicitarios en Instagram y Facebook, dirigidos al sector médico. Nuestro
      objetivo principal es desarrollar estrategias efectivas para ayudarte a
      recibir más pacientes.
    </h2>
    <div class="buttom" style="margin-top: 2rem">
      <app-buttom text="contáctanos" />
    </div>
  </app-main-container>
</main>
